<!DOCTYPE html>
<html>

<title>Hours To Max</title>
<meta name="description"
    content="Find how many hours it will take you to max your Old School Runescape Account with training methods that you choose!">

<meta name="keywords" content="Hours, To, Max, Old, School, Runescape, Account, Long, Gp, Time">
<meta name="author" content="Mapex Games">

{{!-- Get Jquery and Cookie tools --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js">
    </script>

{{!-- Get local JS files --}}
<script type="text/javascript" src="/test.js"></script>
<script type="text/javascript" src="/tab_controls.js"></script>
<script type="text/javascript" src="/skill.js"></script>
<script type="text/javascript" src="/v1.js"></script>
<script type="text/javascript" src="/saveChoices.js"></script>



<!-- Favicon! -->
<meta name="theme-color" content="#ffffff">
<!--Fav end -->

<head>
    {{!-- Css files --}}
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/hours_style.css">
    <link href="./colours.css" rel="stylesheet" type="text/css">
</head>



<body id="thebody">
    <!-- <body id="thebody" class="redbody" style="background-color: black;"> -->

    <!-- **********HEADER******* -->
    <header class="theme themered">
        {{!-- <div class="verticle-center"> --}}
            <img src="logo.png" alt="My logo" id="logoimage">
            <!-- <label class="switch" style="margin-top:20px;margin-right:10px;float:right">-->
            <!-- 	<input onchange="Lightswitch();" type="checkbox" id="lightinput">-->
            <!-- 	<div class="slider round whitefont" id="lightslider"></div>-->
            <!-- </label>-->
            {{!--
        </div> --}}

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if signedin}}
                    <li><a href="/logout">Logout</a></li>

                {{else }}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {{/if}}

            </ul>
        </nav>

    </header>
    <!-- *************header******-->
    <br><br class="desktoponly">

    <!-- ************* MAIN CONTENT *************-->
    <div class="maxw whitebg" id="maincontent">

        <!-- ***NAVIGATION TABS *** -->
        <div class="w3-bar w3-black" style="height:100px;font-size:0px">
            <button class="typebutton max active" id="max" onclick="setTab('max')"
                style="background-image: url(icons/Max_cape.webp)">
            </button>
            <button class="typebutton achievement" id="achievement" onclick="setTab('achievement')"
                style="background-image: url(icons/achievement_cape.webp)">
            </button>
            <button class="typebutton quest" id="quest" onclick="setTab('quest')"
                style="background-image: url(icons/quest_cape.webp)">
            </button>
        </div>
        <!-- *****Navigation tabs***** -->

        <!-- *******INTRO TEXT DESCRIPTION*********-->
        <br>
        <br class="mobileonly">

        <!-- <h1 id="tabtext" class="center">Max Cape</h1> -->
        <br>
        <br>
        <div class="center " id="intro" style="padding-left:10px;padding-right:10px">
            
            Find how many hours until you Max in Old School Runescape.
        </div>
        <div class="center" id="disclaimer">
            {{!-- {{#if signedin}}
            <br>
            Welcome, {{username}}, to your personal Old School Runescape goal calculator
            {{else }}
            <br>
            A personalised osrs maxing calculator.
            {{/if}} --}}
            <br>
            Select your favourite training methods to find the cost and time to reach your goal!
            <br>
            <br>
            This calculator assumes melee skills will be trained passively during slayer.
            <br>
            Edit custom training methods, and boosted levels via the arrow.
        </div>
        <br>
        <br class="mobileonly">
        <!-- *******Intro text description*********-->

        <!-- *************SEARCH  *************-->
        <div class="searcharea maxw" onsubmit="console.log('You clicked submit.'); SubmitUsername(); return false">
            <form id="myform">
                <input type="text" class="textbox" id="usernameInput" name="usernameInput" style="text-align:center;"
                    placeholder="Enter your username">
                <input type="button" class="colorbutton theme themered" value="Submit" onClick="SubmitUsername()">
            </form>
        </div>
        <!-- ************* Search *************-->

        <p id="displayUsername" class="center"></p>

        <br>

        <!-- HANDLEBARS START -->
        {{#each allSkills}}

        <!-- *************DYNAMIC SKILL ROW *************-->
        <div class="row">

            <div class="columnA center"><img style="margin-top:10px" height="30" class="ico" class="ico"
                    src="icons/{{this.skillName}}_icon.webp" alt="{{this.skillName}}">
                <p id="{{this.skillName}}LevelDisplay" class="center">1/99</p>
            </div>

            <div class="columnB">
                <form>
                    <select class="fullw minimal" name="{{this.skillName}}Dropdown" id="{{this.skillName}}Dropdown" onchange="DropdownWasChanged(this.name);">
                        {{#trainingMethods}}
                            <!-- Nested handlebars loop -->
                            <option value="{{@index}}">{{this.method}}</option>
                        {{/trainingMethods}}
                        {{!-- {{#if this.name}}
                            <option value="7">{{this.name}}</option>
                        {{/if}}  --}}
                    </select>

                </form>
            </div>

            
            <div class="columnD" name="{{this.skillName}}Expander" id="{{this.skillName}}Expander" onClick="ExpandSection(this.id)">
                <i id="{{this.skillName}}Arrow" class="arrow right"></i>
            </div>

            <div class="columnC righttext" name="{{this.skillName}}Final" id="{{this.skillName}}Final" onClick="ExpandSection(this.id)">
                <div>
                    <nobr>
                        <div id="{{this.skillName}}Cost" class="righttext">? Gp</div>
                    </nobr>
                    <nobr>
                        <div id="{{this.skillName}}Hours" class="righttext" style="text-align:right;">? Hours</div>     
                    </nobr>
                </div>
            </div>


        </div>

        <!-- *************custom CUSTOM*************-->
        <div id="{{this.skillName}}Expanded" class="row hidden transition">
            <div class=" columnE center">
                <p>Boost:</p>
            </div>
            <div class=" columnF center">                    
                    <input type="text" style="text-align:center" id="{{this.skillName}}Boost" name="{{this.skillName}}Boost"
                    onchange="" placeholder="Levels boosted" disabled>
            </div>
            <div class=" columnG center">
                <p >Custom XpPh:</p>
            </div>
            <div class=" columnH center">            
                <input type="text" style="text-align:center" id="{{this.skillName}}CustomXp" name="{{this.skillName}}CustomXp"
                    onchange="" placeholder="Xp per hour">
            </div>
             <div class=" columnI center">
                <p >Cost of 1xp:</p>
            </div>
            <div class=" columnJ center">
                    <input type="text" style="text-align:center" id="{{this.skillName}}CustomGp" name="{{this.skillName}}CustomGp"
                    onchange="" placeholder="Gp per xp">

            </div>
            
            <div class=" columnK center" style="text-align:center;" >       
                <input type="button" class="colorbutton theme refreshbutton" id="{{this.skillName}}Refresh" name="{{this.skillName}}Refresh"  value="&#x2192;" onclick="RefreshCustom(this.id)" style="width:100px">
            </div>

        </div>
        <!-- *************end custom *************-->

        {{/each}}
        <!-- HANDLEBARS end -->

        <!-- *************FARMING *************-->
        <div class="row">
            <div class="columnA"><img style="margin-top:10px" height="30" class="ico" src="icons/Farming_icon.webp"
                    alt="Farming">
                <p id="farmingLevelDisplay" class="center">1/99</p><del id="farmingStrikeLevel"></del>
            </div>
            <div class="columnB">
                <form>
                    <select class="fullw minimal" name="seedDropdown" id="seedDropdown" onchange="DropdownWasChanged(this);">
                        <option value="1">Maple Seed (3403xp ea)</option>
                        <option value="2">Yew Seed (7071xp ea)</option>
                        <option value="3" selected="selected">Magic Seed (13768xp ea)</option>
                    </select>
                </form>
                <form>

                </form>
            </div>

            <div class="columnD" name="farmingExpander" id="farmingExpander" >
                {{!-- <i id="arrowFarming" class="arrow right"></i> --}}
            </div>

            <div class="columnC righttext" id="finalcolumn">
                <nobr>
                    <div id="farmingCost" class="righttext">? Gp</div>
                </nobr>
                <nobr>
                    <div id="farmRunsDisplay" name="farmRunsDisplay" class="righttext" style="text-align:right;">? runs</div>
                </nobr>
            </div>

        </div>
        <!-- *************farming *************-->

        <!-- *************FARMINGPATCHES *************-->
        <div class="row">
            <div class="columnA">
                <p id=""> &nbsp; </p>
            </div>
            <div class="columnB">
                <form>
                    <select class="fullw minimal" name="patchesDropdown" id="patchesDropdown" onchange="DropdownWasChanged(this);">
                        <option value="1">1 patch</option>
                        <option value="2">2 patches</option>
                        <option value="3">3 patches</option>
                        <option value="4">4 patches</option>
                        <option value="5" selected="selected">5 patches</option>
                    </select>
                </form>
                <form>

                </form>

            </div>
            <div class="columnC center" id=""> &nbsp; </div>
        </div>
        <!-- *************Farming patches *************-->

        <br>
        <!-- ************* ENd Info *************-->
        <!-- Final Outome Area -->
        <div style="padding:10px;">
            <div style="border-radius:50px;padding-top:50px;">
                <div>

                    <div class="OutcomeColA" style="float: left; line-height: 70px;">
                        &nbsp;
                    </div>
                    <div id="goalName" name="goalName" class="OutcomeColB"
                        style="float: left;text-align:left; font-size:60px;line-height: 70px;">
                        PlayerName
                    </div>
                    <div id="finalCape" class="OutcomeColC finalMax"
                        style="float: left;text-align:right;line-height: 70px;">
                        &nbsp;
                    </div>
                    <div class="OutcomeColD" style="float:left;line-height: 70px;">
                        &nbsp;
                    </div>
                </div>
                <br><br>
                <div style="padding-top:10px;">
                    <!-- Final Outome Area -->
                    <div class="OutcomeColA" style="float: left;">
                        &nbsp;
                    </div>
                    <div class="OutcomeColB" style="float: left;text-align:left">
                        Goal
                    </div>
                    <div id="goalCapeDisplay" class="OutcomeColC" style="float: left;text-align:right">
                        Max Cape
                    </div>
                    <div class="OutcomeColD" style="float:left">
                        &nbsp;
                    </div>
                </div>

                <div>
                    <!-- Final Outome Area -->
                    <div class="OutcomeColA" style="float: left;">
                        &nbsp;
                    </div>
                    <div class="OutcomeColB" style="float: left;text-align:left">
                        Remaining Hours
                    </div>
                    <div id="goalHoursDisplay" class="OutcomeColC" style="float: left;text-align:right">
                        ?
                    </div>
                    <div class="OutcomeColD" style="float:left">
                        &nbsp;
                    </div>
                </div>


                <div>
                    <!-- Final Outome Area -->
                    <div class="OutcomeColA" style="float: left;">
                        &nbsp;
                    </div>
                    <div class="OutcomeColB" style="float: left;text-align:left">
                        Million GP Cost
                    </div>
                    <div id="goalGpDisplay" class="OutcomeColC" style="float: left;text-align:right">
                        ?
                    </div>
                    <div class="OutcomeColD" style="float:left">
                        &nbsp;
                    </div>
                </div>

                <div>
                    <!-- Final Outome Area -->
                    <div class="OutcomeColA" style="float: left;">
                        &nbsp;
                    </div>
                    <div class="OutcomeColB" style="float: left;text-align:left">
                        Remaining Levels
                    </div>
                    <div id="goalRemainingLevels" id="goalRemainingLevels" class="OutcomeColC" style="float: left;text-align:right">
                        ?
                    </div>
                    <div class="OutcomeColD" style="float:left">
                        &nbsp;
                    </div>
                </div>



                <div>
                    <!-- Final Outome Area -->
                    <div class="OutcomeColA" style="float: left;">
                        &nbsp;
                    </div>
                    <div class="OutcomeColB" style="float: left;text-align:left">
                        Remaining Farm Runs
                    </div>
                    <div id="goalFarmDisplay" class="OutcomeColC" style="float: left;text-align:right">
                        ?
                    </div>
                    <div class="OutcomeColD" style="float:left">
                        &nbsp;
                    </div>
                </div>

                <div>
                    <!-- Final Outome Area -->
                    <div class="OutcomeColA" style="float: left;">
                        &nbsp;
                    </div>
                    <div class="OutcomeColB" style="float: left;text-align:left">
                        Skills Completed
                    </div>
                    <div id="goalCompletedSkills" id="goalCompletedSkills" class="OutcomeColC" style="float: left;text-align:right">
                        ?
                    </div>
                    <div class="OutcomeColD" style="float:left">
                        &nbsp;
                    </div>
                </div>
                
                <br><br>
                <br><br>
                <br>

                <div class="OutcomeColA" style="float:left">&nbsp;</div>
                <div class="OutcomeBar" style="float:left">
                    <div class="meter red">
                        <span id="progressPercent" style="width: 0%"></span>
                    </div>
                </div>
                <div class="OutcomeColD" style="float:left">&nbsp;</div>


            </div>
        </div>
        <!-- end card -->
        <br><br><br><br><br class="desktoponly"><br class="desktoponly">
        <div class="maxw searcharea">
            
            <input type="button" class="colorbutton theme themered" value="Save!" onClick="SaveChoicesToDatabase()">
            <div id="result" style="margin-top:10px">&nbsp;</div>
            {{!-- <input type="button" class="colorbutton theme themered" value="Save!" onClick="SaveAll()"> --}}
        </div>
        <br><br>
        <p id="hours" class="center">Register for an account to save your changes! You can register in another tab so your current choices aren't lost!</p>
        <!-- *************end info *************-->

        <br><br>
    </div>
    <!-- ENd outcome area -->
    </div>


    <footer>
        <div>
            <br><br>
            <input type="button" class="colorbutton theme themered" value="Hire me!" onclick="location.href='/author'" style="width:100px">
            <br><br>
            <p id="footer">2024 Arrgs - reevesgamedev@gmail.com</p>
            <p id="footer">*Gp per XP estimates from June 2024*</p>
            <p id="footer">More features coming soon!</p>
            <p id="footer">Hours To Max v1.0</p>
        </div>
    </footer>

</body>

</html>